<!doctype html>
<html lang="en">
<html lang="en">
	<head>
		<meta charset="utf=8">
		<title>Watson Chatbot</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.theme.min.css">
		<script src="https://maxcdn.com/bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"> </script>
	</head>
	<body>
		<h2>Enter Text</h2>
		<form id="input" method="post" action="chatbot">
			<input type="text" name="text" value="your text here"
				style="width: 300px; height: 100px"/> </br>
			<input type="submit" value="Enter">
		</form>
	</body>
</html>